*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background:#F3F5FC;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    }

.img{
    padding-top: 10px;
    margin-left: 10px;
    width: 7%;
}

main{
    margin-bottom: 10px;
    height: 80vh;
    display: grid;
    grid-template-columns: 50% 400px;
    
}
.left{
    margin-left: 8%;
    height: 70vh;
}
.muneco{
    width: 300px;
    height: 300px;
    background-color: #fff;
}
.right{
    height: 75vh;
    margin-left: 5%;
    background-color: #fff;
    border-radius: 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    box-shadow: 1px 5px 8px gray;
}
.right p{
    background-color: #fff;
    font-size: 25px;
    text-align: center;
}
.p-title{
    font-weight: bold;
    border: none;
    background-color: #fff;
    text-align: center;
    height: 15%;
}
.ajustar{
    height: 80%;
    font-weight: normal;
}

.text-info {
    height: 50vh;
    border: none;
    color: #0A3871;
    margin-top: 30px;
    padding: 2px;
    text-transform: lowercase;
}
::placeholder { color: black; }
  .text-info:focus {
      outline: none;
    }

.btn{
    display: flex;
    margin-top: 18px;
}

.btn-de {
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.btn-en {
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.btn-copy {
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    margin-top: -30px;
    width: 336px;
    display: none;
}
/* .oculto{ */
/* } */

.informacion, .icon {
    color: #495057;
    font-size:18px;
}
footer{
    display: flex;
    gap: 2.5rem;
}
footer p{
    padding: 0;
    margin: 0;
    color: #0A3871;
}
footer a{
    display: block;
    color: #0A3871;
    transition: 0.5s;
}
footer a:not(:hover){
    filter: blur(.5px);
    color: #0a60ca;
}

@media (max-width:1103px){
    *{
        font-size: 23px;
    }
    main{
        margin-left: 10px;
    }
    .muneco{
        width: 200px;
        height: 200px;
    }
    .right p{
        font-size: 18px;
    }
    .btn-en,.btn-de,.btn-copy{
        height: 40px;
        width: 200px;
        font-size: 18px;
    }
}
@media(max-width:827px){
    .right{
        width: 250px;
    }
}
@media(max-width: 414px){
    *{
        font-size: 15px;
    }
    main{
        margin-left: 0px;
    }
    .left{
        width: 60%;
    }
    .right{
        margin-left: 0;
        width: 40%;
    }
    .right p{
        font-size: 14px;
    }
    .muneco{
        width: 100px;
        height: 100px;
        /* display: none; */
    }
    .text-info{
        width: 90%;
        font-size: 14px;
    }
    .informacion, .icon{
        font-size: 9px;
    }
    .btn-en,.btn-de, .btn-copy{
        height: 20px;
        width: 150px;
        font-size: 10px;
    }
    .btn-de{
        margin-left: 10px;
    }
    .btn-copy{
        margin: 5vh 0 0 0;
        width: 70px;
    }
}